/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: linear-gradient(to right, black, orange);
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2rem;
}

nav {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 2% 0;
}

h2 {
    color: #444;
    margin-bottom: 1rem;
}

.categories {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.categories li {
    flex: 1 1 calc(25% - 2%);
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1%;
}

.categories a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}

section {
    margin-top: 2rem;
}

section h3 {
    color: #333;
    margin-bottom: 1rem;
}

.plots {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.plots img {
    flex: 1 1 calc(33% - 2%);
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.accordion-container {
    width: 80%;
    margin: 0 auto;
}

.accordion-button {
    width: 100%;
    padding: 1% 0;
    margin: 10px 0;
    background-color: #e65100;
    color: white;
    font-size: 1.2rem;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.accordion-button:hover {
    background-color: #bf360c;
    transform: scale(1.02);
}

.accordion-content {
    display: none;
    padding: 10px 0;
    border: 1px solid #ddd;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-container img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}



footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
